  <div class="container">
    <h1 class="center-align">About</h1>
    <p class="flow-text">
      about
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>